<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GrantInspection.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
				<key>dateExpires</key>
				<string>07/05/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EVReflection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Imaginary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lightbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OHHTTPStubs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjcExceptionBridging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UICircularProgressRing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XCGLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E1BA5E66292C782363EB81F8BFA532E512A650E</string>
						<key>dateExpires</key>
						<string>07/05/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43HDT3QMAF</string>
						<key>name</key>
						<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>43HDT3QMAF.com.MBRHE.GrantInspection</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>43HDT3QMAF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>GrantInspection.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>80bcc412-55f5-474e-ba89-95767e34d0be</string>
				<key>name</key>
				<string>Distribution Grant In House PF</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>43HDT3QMAF</string>
				<key>name</key>
				<string>Mohammed Bin Rashid Housing Establishment (Enterprise)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
